# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/safqa_db?schema=public"

# Application Port
PORT=3001

# JWT Secrets
JWT_ACCESS_SECRET="safqa-super-secret-access-token-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="safqa-super-secret-refresh-token-key"
JWT_REFRESH_EXPIRES_IN="7d"
